@page "{SearchTerm?}"
@model ListModel
@{
    ViewData["Title"] = "Restaurants";
}

<h1>Restaurants</h1>

<form method="get">
    <div class="form-group">
        <div class="input-group">
            <input type="search" class="form-control"
                   asp-for="SearchTerm" />
            <span>
                <button class="btn btn-default">
                    <i class="fas fa-search"></i>
                </button>
            </span>
        </div>
    </div>
</form>

<div class="table-responsive">
    <table class="table table-bordered table-condensed table-striped table-hover sortable">
        @if (Model.Restaurants.Count() == 0)
        {
            <tr>
                <td colspan="10">No Record's found.</td>
            </tr>
        }
        else
        {
            <thead>
                <tr class="danger">
                    <th data-defaultsign="AZ">Name</th>
                    <th data-defaultsign="AZ">Location</th>
                    <th data-defaultsign="AZ">Cuisine</th>
                    <th data-defaultsign="AZ">Options</th>

                </tr>
            </thead>

            foreach (var item in Model.Restaurants)
            {
    <tr>
        <td>@item.Name</td>
        <td>@item.Location</td>
        <td>@item.Cuisine</td>

        <td>
            <a class="btn btn-lg"
               asp-page="./Detail"
               asp-route-restaurantId="@item.Id">
                <i class="fa fa-search-plus"></i>
            </a>

            <a class="btn btn-lg"
               asp-page="./Edit"
               asp-route-restaurantId="@item.Id">
                <i class="fa fa-edit"></i>
            </a>
            <a class="btn btn-lg"
               asp-page="./Delete"
               asp-route-restaurantId="@item.Id">
                <i class="fa fa-trash"></i>
            </a>
        </td>
    </tr>
            }
        }
    </table>
</div>

<a asp-page="./Edit" class="btn btn-outline-primary">Add New</a>




